@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Selection styling */
::selection {
  background-color: rgba(191, 163, 74, 0.3);
  color: #3a2e0f;
}